<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
        <table id="employeeList">
		    <thead>
		        <tr>
		            <th > Num </th>
		            <th > Email </th>
		            <th > First Name </th>
		            <th > Last Name </th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="employee : ${employees}">
		           <td th:text="${employee.employeeNumber}">num</td>
		            <td><a href="#" th:text="${employee.email}">Email</a></td>
		            <td th:text="${employee.firstName}">First Name</td>
		            <td th:text="${employee.lastName}">Last Name</td>
		        </tr>
		    </tbody>
		</table>
     </div>
</body>
</html> 