<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add New Company</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

	<h1> Add New Company </h1>
	<br/>
	<div align="center">
        <br />
        <form action="#" th:action="@{/company/save}" th:object="${companyDTO}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Company Name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span></td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td><input type="text" th:field="*{location}" /></td>
                    <td><span th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="error"></span></td>
                </tr> 
                <tr>
                    <td>Employee Number:</td>
                    <td><input type="text" th:field="*{employeeNumber}" /></td>
                    <td><span th:if="${#fields.hasErrors('employeeNumber')}" th:errors="*{employeeNumber}" class="error"></span></td>
                </tr>                           
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
	
</body>
</html>