<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Company Page</h1>
	<br/>
	<!--  <a href="/category/add"> Add New  </a>  -->
	<br/>
	<table border="1">
	    <tr>
	    	<th> ID </th>
		    <th> Name </th>
		    <th> Option </th>
	    </tr>
		<tr th:each="company, iterStat: ${companies}">
			<td th:text="${company.id}"></td>
			<td th:text="${company.name}"></td>
			<td> <a href="#"> Update </a> | <a href="#"> Delete </a></td>
		</tr>
		
	</table>
	<br/>
	<p>Total Items: [[${totalItems}]] | 
		<a th:if="${currentPage > 0}" th:href="@{'/company/page/0'}">First</a> <span th:unless="${currentPage > 0}">First</span> 
		<a th:if="${currentPage > 0}" th:href="@{'/company/page/' + ${currentPage - 1}}">Previous</a><span th:unless="${currentPage > 0}">Previous</span> | 
		 <span th:each="i: ${#numbers.sequence(0, totalPages)}">
		    <a th:if="${currentPage != i}" th:href="@{${i}}">[[${i}]]</a>
		    <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; 
		</span>
		<a th:if="${currentPage < totalPages}" th:href="@{'/company/page/' + ${currentPage + 1}}">Next</a> <span th:unless="${currentPage < totalPages}">Next</span>
		<a th:if="${currentPage < totalPages}" th:href="@{'/company/page/' + ${totalPages}}">Last</a><span th:unless="${currentPage < totalPages}">Last</span>
	</p>
</body>
</html>