<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
    	form { 
    		text-align: center;
    		border-style: solid;
    		border-width: 1px;
    		}
    </style>
    <link th:href="@{/css/styleEmployee.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div>
		<div>
			<h1>Add Employee</h1>
			<form action="#" th:action="@{/employee}" th:object="${employee}" method="post">
	    	<p>Email: <input type="text" th:field="*{email}" />
	    		<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
	    	</p>
	        <p>First Name: <input type="text" th:field="*{firstName}" />
	        	<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></span></p>
	        <p>Last Name: <input type="text" th:field="*{lastName}" />
	        	<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span></p>
	        <p>Extension: <input type="text" th:field="*{extension}" />
	        	<span th:if="${#fields.hasErrors('extension')}" th:errors="*{extension}" class="error"></span></p>
	        <p>Office Code: <input type="text" th:field="*{officeCode}" />
	        	<span th:if="${#fields.hasErrors('officeCode')}" th:errors="*{officeCode}" class="error"></span></p>
	        <p>Job Title: <input type="text" th:field="*{jobTitle}" />
	        	<span th:if="${#fields.hasErrors('jobTitle')}" th:errors="*{jobTitle}" class="error"></span></p>
	        <p>Company: <select th:field="*{company.id}">
			    <option th:each="i : ${companies}" th:value="${i.id}" th:text="${i.name}">
			    </option>
			</select></p>
    		
	        <input type="hidden" th:field="*{employeeNumber}" />
	        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	    	</form>
	    	<br>
	    	<a class="Linkbutton" th:href="@{/employee}" >Back</a>
		</div>
     </div>
     
     
</body>
</html> 