<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
    	form { 
    		text-align: center;
    		width: 25%;
    		border-style: solid;
    		border-width: 1px;
    		}
    	.Linkbutton {
		  font: bold 11px Arial;
		  text-decoration: none;
		  background-color: #EEEEEE;
		  color: #333333;
		  padding: 2px 6px 2px 6px;
		  border-top: 1px solid #CCCCCC;
		  border-right: 1px solid #333333;
		  border-bottom: 1px solid #333333;
		  border-left: 1px solid #CCCCCC;
		}
    </style>
</head>
<body>
	<div>
		<div>
			<h1>Employee</h1>
			<form action="#" th:action="@{/employee}" th:object="${employee}" method="post">
			<p>Id: <span th:text="*{employeeNumber}" /></span></p>
	    	<p>Email: <span th:text="*{email}" /></span></p>
	        <p>First Name: <span th:text="*{firstName}" /></span></p>
	        <p>Last Name: <span th:text="*{lastName}" /></span></p>
	        <p>Extension: <span th:text="*{extension}" /></span></p>
	        <p>Office Code: <span th:text="*{officeCode}" /></span></p>
	        <p>Job Title: <span th:text="*{jobTitle}" /></span></p>
	    	</form>
	    	<br>
	    	<a class="Linkbutton" th:href="@{/employee}" >Back</a>
		</div>
     </div>
</body>
</html> 